.alert
{
	padding:25px;
	margin:25px;
	width:40%;
}

.alert textarea
{
        width:70%;
}

html{background-color:white;
color: #4f6b72;}
div.header{ clear:both; 
padding:10px 0px; 
width:100%; 
text-align:center;
font:normal normal normal 11px Verdana,Geneva,Arial,Helvetica,sans-serif; 
background-color:#3D6DB5; 
border-top:3px solid #6B90C7; 
color:silver}
.think_run_time{text-align:center; width:100%;font-size:12px;}

div.headTitle{
float:left; 
width:85%; 
color:white;
font-size:18px; 
/**font-weight:bold; **/
font-family:Verdana}

div.version{
float:right;
width:15%; 
color:white;
font-family:Verdana
font-size:8px;
}

div.content{
padding:0; 
clear:both; 
float:left; 
width:100%; 
margin-top:5px; 
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif}
.think_run_time{text-align:center; width:100%;font-size:12px;}

div.system{
float:right;
color:white;
font-family:Verdana
font-size:3px;
}



.login {
width:95%;
text-align:center;
float:center;
border-bottom:3px solid #6B90C7;
FONT: Verdana,Arial,Helvetica,sans-serif 11px;
color:#0860a8; 
padding:10px 0px;
}

.login_content input{
width:70px;
OUTLINE-STYLE: none;
float:center;
background-color:white;
}
.login_push input{
}



.case_static {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
}


.table {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
}

.table table{
    width:100%;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
.table table th { 
    font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    color: #4f6b72; 
    text-align:left;
    text-indent:5px; 
    padding: 3px 3px 3px 6px; 
    background:url(../image/bar_bg.jpg) repeat-x top left;
    border-left:0px solid #CBCBCD;
    border-right:1px solid #CBCBCD; 
    border-top:0px solid #CBCBCD;
    border-bottom:0px solid #CBCBCD;
    text-transform: capitalize;
}

.table a:hover,
{   text-decoration: none;}
 


.table table tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

.table table tr.statistic td 
{
color:#4f6b72;
background-color:#EEEEEE;
}

.table table tr td { 
/**    background-color:#F5F5F5;
**/
    border-top:none;
    border-left:none;
    border-right:none;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    font-size:14px; 
    padding: 1px 6px 1px 12px; 
    color: #4f6b72;
    text-align:left;
}

.report {
    width:100%;
    padding: 0;
    margin: 0;
}
.report table{
    border-top: 1px solid #C1DAD7;
    border-left: 1px solid #C1DAD7;
    border-right: 1px dashed #C1DAD7;
    border-bottom: 1px dashed #C1DAD7;}
.report th {
    font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    text-transform: capitalize;
    text-align:center;
    padding: 3px 3px 3px 6px;
    background:url(../image/bar_bg.jpg) repeat-x top left;
}
 
.report  td.left{
    background: #fff;
    font-size:14px;
    padding: 1px 6px 1px 12px;
    color: #4f6b72;
    text-align:left;
}
.report td {
    background: #fff;
    font-size:14px;
    padding: 1px 6px 1px 12px;
    color: #4f6b72;
    text-align:center;
}

fieldset .item {
        float:left;
        clear:both;
        padding-top:6px;
        padding-bottom:2px;
        margin:0;
        width:835px;
}

 fieldset .sub_infos {
        float:left;
        width:930px;
        padding-left:0;
        margin-left:0;
        padding-top:6px;
        padding-right:0;
        margin-right:0;
}
 legend {
       color:blue;
}

.detail_info{
        margin-left:35px;
        width:180px;
        margin-top:5px;
        margin-bottom:5px;
}

}
.item fieldset {
        float:left;
        width:930px;
        padding-left:0;
        margin-left:0;
        padding-top:6px;
        padding-right:0;
        margin-right:0;
}
.admin {
width:100%;
padding-top:10;
margin-top:10;}
.left_side {
float:left; 
width:15%; 
height:100%; 
background-color:white}
.left_side .title {
        text-align:center;
        float:right;
        width:100%;
        line-height:20px;
        vertical-align:middle;
        /**background:url(../image/bar_bg.jpg) repeat-x top left;
  **/      border:1px solid #CBCBCD;
        background-color:#CAE8EA;
}
.left_side .content {
        text-align:center;
        position:relative;
        float:right;
        width:100%;
        height:30px;
        border:1px solid #CBCBCD;
        border-top:none;
}
.blank {
float:left; 
width:2%; 
height:100%; 
background-color:white}
.right_side {
float:left; 
width:83%; 
height:100%; 
background-color:white}
.right_side .title {
        float:right;
        width:100%;
        line-height:20px;
        text-align:center;
        vertical-align:middle;
 /**       background:url(../image/bar_bg.jpg) repeat-x top left;
    **/    border:1px solid #CBCBCD;
         background-color:#CAE8EA;
}
.right_side .data {
        position:relative;
        float:right;
        width:100%;
        height:100%;
        border:1px solid #CBCBCD;
        border-top:none;
}
.searchtitle{
  font:bold;
}
.searchcondition{
 text-decoration:underline; 
}

.page_set {
  float:left;
  width:95%;
  font:normal normal normal 11px Verdana,Geneva,Arial,Helvetica,sans-serif; 
  padding-left:15px;
  margin-left:15px;
  padding-bottom:5px;
  padding-top:3px;
  margin-top:3px;
}
/**
.pageset {
        background:url(../image/bar_bg.jpg) repeat-x top left;
        margin-top:4px;
        margin-bottom:4px;
        text-align:left;
        white-space:nowrap;
        border:1px solid #CBCBCD; 
}**/
.page_set a {
        border:1px solid #CBCBCD;
        padding:1px 3px;
        font-size:10px;
}
.page_set .now {
        font-weight:bold;
        color:#000000;
}
.executiontitle
{
font-size:15px;
padding-left:150;
margin-left:150;

}
textarea {
        width:750px;
        height:50px;
}
.button_center{

float-align:center;
}
.registermain{
padding-left:10px;
margin-left:10px;
padding-left:10px;
margin-left:10px;
width:520px;
}

.register {
width:100%;
line-height:20px;}

.register .left {
padding-left:10px;
margin-left:10px;
float:left;
height:100%;
width:25%;}
.register .blank{
width:10%;
height:100%;
}
.register .right{
 
color:silver;
width:65%;
height:100%;}


/* status bar */
.te_status {
        float:left;
        width:180px;
        height:6px;
        padding:0;
        margin:0;
        padding:1px;
        border:1px solid #CBCBCD;
}
 
.te_status input {
        float:left;
        height:6px;
        padding:0;
        margin:0;
        border:0;
        cursor:default;
}
.te_status .pass {
        background-color:#00FF00;
}
.te_status .fail {
        background-color:#FF0000;
}
.te_status .block {
        background-color:#0066cc;
}
.te_status .inv {
        background-color:#FFFF00;
}
.te_status .na {
        background-color:#DDDDDD;
}


.resizeDivClass
{
/**position:relative;**/
float:right;
background-color:#2f4f4f;
width:1;
z-index:1;
left:expression(this.parentElement.offsetWidth-1);
cursor:e-resize;
}
 
.help {
width:100%;
padding-top:5;
margin-top:5;
line-height:20px;}
 
.help .left {
padding-left:10;
margin-left:10;
float:left;
width:100%;
height:100%;}


a:hover {
        text-decoration: underline;
        color:black;
        }
a {
        text-decoration: none;
}

a {
color:blue; 
}

.casebutton {
  BORDER:silver 1px solid;
  cursor:hand;
  background:#F5F5F5;
  padding-left:3px;
  margin-left:3px;
  padding-right-3px;
  margin-right-3px;
  text-transform: capitalize;
}
.casebutton span{
  text-transform: capitalize;
}
.parameter {
  float:left;
  width:95%;
  height:100%;}

.title_button_div {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
}
.title_button_div ul
{
  margin: 0;
  padding: 0;
  z-index: 30;
  background:url(../image/bar_bg.jpg) repeat-x top left;
  border:1px solid #CBCBCD;
  height:23px;
}
.title_button_div li
{       margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        font: bold 11px arial}
.title_button_div li a
{       display: block;
        margin: 0 1px 0 0;
        padding: 4px 10px;
        width:auto;
        background: #5970B2;
        color: #FFF;
	font-size:12px;
        text-align: center;
	text-decoration:none;
	text-transform: capitalize;
}
.title_button_div li a:hover,
{       background: #49A3FF;
	text-decoration: none;}

.title_button_div div
{       position: absolute;
        visibility: hidden;
        margin: 0;
        padding: 0;
        background: #EAEBD8;
        border: 1px solid silver}
        .title_button_div div a
        {       position: relative;
                display: block;
		border-top: 1px solid silver;
                margin: 0;
                padding: 5px 10px;
                width: auto;
                white-space: nowrap;
                text-align: left;
                text-decoration: none;
                background: #EAEBD8;
                color: #2875DE;
                font: 11px arial}
        .title_button_div div a:hover
        {       background: #49A3FF;
                color: #FFF}
.casesearch {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
  padding-top:3px;
  margin-top:3px;
  padding-bottom:2px;
  margin-bottom:2px;}
.casesearch .title {
  background:url(../image/bar_bg.jpg) repeat-x top left;
  border:1px solid #CBCBCD;}
.casesearch .content {
  border:1px solid #CBCBCD;
  border-top:none; 
  margin-top:0;
  padding-top:0;}
.casesearch .content span {
  font-size:12px;
  color:#677E9B;
  line-height:15px
  padding-left:10px;
  margin-left:10px;
  padding-top:10px;
  margin-top:10px;}
.casesearch .content span input{
  line-height:10px;
  clear:both;
}

.caseimport {
  float:left;
  padding-left:15px;
  margin-left:15px;
  width:95%;
}

.tab_title {
  width:100%;
  text-align:center;
  font-weight:bold;
  font-size:17px;
  float:center;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:5px;
  margin-bottom:5px;
}
.selection_right {
  float:left;
  width:95%;
  padding-top:7px;
  margin-top:7px;
}

.selection_right span {
  float:left;
  padding-left:15px;
  margin-left:15px;
  font-size:14px;
  color:#677E9B;
}

}
.case_detail {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
  padding-top:15px;
  margin-top:15px;
}
.detail {
  width:95%;
  float:left;
  padding-left:15px;
  margin-left:15px;
  padding-top:5;
  margin-top:5;
  line-height:20px;
}
 
.detail .left {
  float:left;
  padding-left:5px;
  margin-left:5px;
  width:15%;
  font-size:13px;
  font-weight:bold;
  height:20px;
}
.detail .black{
  float:left;
  padding-left:0px;
  margin-left:0px;
  width:1%;
  height:20px;
}
.detail .right{
  float:left;
  padding-left:0px;
  margin-left:0px;
  color:silver;
  width:84%;
  font-size:13px;
  height:20px;
}
.parameter_detail {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
  padding-top:0px;
  margin-top:0px;
}
.under_line {
  width:95%;
  float:left;
  padding-left:15px;
  margin-left:15px;
  padding-top:0;
  margin-top:0;
  line-height:15px;
}

.under_line .title {
  float:left;
  width:100%;
  padding-left:5px;
  margin-left:5px;
  font-size:14px;
  font-weight:bold;
  color:blue;
  border-bottom:1px solid #6B90C7; 
}
.case_description {
  float:right;
  width:95%;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:0px;
  margin-bottom:0px;
}

.case_description span {
  float:right;
  font-size:12px;
  padding-right:0px;
  margin-right:0px;
  text-decoration:inline;
}
.second_title {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
}
.second_title ul
{
  background:url(../image/bar_bg.jpg) repeat-x top left;
  border:1px solid #CBCBCD;
  margin: 0;
  padding: 0;
  z-index: 15px;
  height:23px;
}
.second_title li
{       margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        font: bold 11px arial}
.second_title li a
{       display: block;
        margin: 0 1px 0 0;
        padding: 4px 10px;
        width:auto;
        background: #49A3FF;
        color: #FFF;
        font-size:12px;
        text-align: center;
        text-decoration:none;
        text-transform: capitalize;
}
.second_title li a:hover
{       background:green;
        text-decoration: none;}

.index {
  float:left;
  width:95%;
  padding-left:15px;
  margin-left:15px;
  height:20px;
}
.index span
{
  margin:0;
  padding:5px 15px;
  width: auto;
  white-space: nowrap;
  text-align: left;
  background: #EAEBD8;
  border: 1px solid silver;
  color: #2875DE;
  font: 11px arial;
}

.index input {
padding-top: 3px;
margin-top: 3px;
}

.analyze {
    width:100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
h3
{
    padding-top:5px;
    margin-top:5px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.analyze table{
color:#658fd4;
border-right:1px solid #AEDEF2;
}
.analyze th {
    font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: green;
    font:bold;
    text-transform: capitalize;
    text-align:center;
    padding: 3px 3px 3px 6px;
    background:url(../image/bar_bg.jpg) repeat-x top left;
}
 
.analyze  td{
	border:1px solid #AEDEF2;
	background: #fff;
	font-size:14px;
	padding: 1px 6px 1px 12px;
	color: #4f6b72;
	text-align:center;
}

.analyze  td.left {
        border:1px solid #AEDEF2;
        background: #fff;
        font-size:14px;
        padding: 1px 6px 1px 12px;
        color: green;
	font:bold;
        text-align:center;
}


.project_title {
  width:100%;
  text-align:left;
  font-weight:bold;
  font-size:13px;
  float:center;
  padding-top:0px;
  margin-top:0px;
  padding-bottom:5px;
  margin-bottom:5px;
}

.project_title .left{
 float:left;
  padding-left:5px;
  margin-left:5px;
  width:80%;
  font-size:13px;
  font-weight:bold;
  height:20px;
}

.detail .right{
  float:left;
  padding-left:0px;
  margin-left:0px;
 
  font-size:13px;
  height:20px;
}


